<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3><%= f.label "Nombre" %></h3>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", :class => "btn btn-lg btn-primary cemex-red btn-otros btn-block" %>
  </div>
<% end %>
