<p id="notice"><%= notice %></p>

<h1>Programas Registrados</h1>

<table border="1">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programs.each do |program| %>
      <tr>

        <td><%= program.name %></td>
        <td><%= link_to 'Ver Info', program, :class => "btn btn-primary cemex-blue btn-xs" %></td>
        <td><%= link_to 'Editar', edit_program_path(program), :class => "btn btn-primary cemex-blue btn-xs" %></td>
        <td><%= link_to 'Eliminar', program, method: :delete, data: { confirm: '¿Eliminar Programa?'}, :class => "btn btn-primary cemex-red btn-xs" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Programa', new_program_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>

<%= link_to 'Regresar', admin_root_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>
