<h1>Bienvenido Administrador!!!</h1>

<%= link_to 'Programas', programs_path %>

<%= link_to 'Proyectos', projects_path %>

<%= link_to 'Fases', phases_path %>

<%= link_to 'Pasos', steps_path %>

<%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>        