<div class="container">
	
<div class= "col-sm-offset-4 col-sm-4">
	<h1 class="centrado">Bienvenido Administrador!</h1>
<%= link_to 'Programas', programs_path,:class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>

<%= link_to 'Proyectos', projects_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>

<%= link_to 'Fases', phases_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>

<%= link_to 'Pasos', steps_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>

<%= link_to 'Reporte de Usuarios', admin_report_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>

<%= link_to 'Reporte de avances', posts_report_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>
</div>
</div>
