<!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>

  <script>
$(document).on('change', '.btn-file :file', function() {
  var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        
        var input = $(this).parents('.btn-file').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;
        
            input.val(log);
  
        
    });
});
    </script>

  <style>

  .btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.print-clean {
    border: none;
    background: transparent;
}
</style>

<%= form_for(:post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <center>
  <div class="field">
    <%= f.label "Descripción" %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label "Subir imagen" %><br>
    <!--<%= f.file_field :image %> -->


   <!-- <span class="btn btn-lg cemex-blue btn-otros btn-file"> 
      <i class="glyphicon glyphicon-camera"></i> Escoger Imagen
    <%= f.file_field :image %> 
    <input type="text" class="form-control" readonly>
    </span> -->

        

              <div class="btn-file">
                <span class="input-group">
                    <span class="btn btn-lg cemex-blue btn-otros btn-file">
                       <i class="glyphicon glyphicon-camera"></i> Escoger Imagen 
                      <%= f.file_field :image %>
                    </span>
                </span>

                <div class="col-xs-6">
                  <input type="text" size="45" class = "print-clean"id="ex3" readonly>
                </div>
              </div>
            



  <div class="actions">
    
    <br/>
    <%= f.submit "Subir avance", :class => "btn btn-lg cemex-blue btn-otros btn-block" %>
   
  </div>

<% end %>

</center>

