<p id="notice"><%= notice %></p>

<h2>Reporte de Usuarios</h2>

<div class="table-responsive">
<table class="table" style="width: 100%;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Programa</th>
      <th>Proyecto</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= Program.find((user.program).to_i).name %></td>
      <td><%= Project.find((user.project).to_i).name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Regresar', admin_root_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>