<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %><br>
    <%= f.text_field :name, :placeholder => "Nombre" %>
  </div>
  <div class="field">
    <%= f.label "Descripción" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Programa" %><br>
    <%= select("project", "program_id", Program.all.collect {|p| [ p.name, p.id ] }) %>
  </div>
  <div class="actions">

    <%= f.submit "Crear Proyecto", :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>
  </div>
<% end %>
