<p id="notice"><%= notice %></p>

<h2> Datos del Proyecto </h2>

<p>
  <strong>Nombre:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Editar', edit_project_path(@project), :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %> 
<%= link_to 'Regresar', projects_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>
