<p id="notice"><%= notice %></p>

<h1>Lista de Pasos</h1>

<div class="table-responsive">
<table class="table" style="width: 100%;">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Numero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <td><%= step.name %></td>
        <td><%= step.numstep %></td>
        <td><%= link_to 'Ver Info', step, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block btn-xs" %></td>
        <td><%= link_to 'Editar', edit_step_path(step), :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block btn-xs" %></td>
        <td><%= link_to 'Eliminar', step, :class => "btn btn-lg btn-primary cemex-red btn-otros btn-block btn-xs",  method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Nuevo Paso', new_step_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>

<%= link_to 'Regresar', admin_root_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>
