<p id="notice"><%= notice %></p>

<h2> Datos del Paso </h2>

<p>
  <strong>Nombre:</strong>
  <%= @step.name %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @step.numstep %>
</p>

<%= link_to 'Editar', edit_step_path(@step), :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %> 
<%= link_to 'Regresar', steps_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>
