<div class="container  ">
  
  <div class= "col-sm-offset-4 col-sm-4">
<%= image_tag "logo.png" , class: "centrado logo"%>

<h3 class="centrado">¿Olvidaste tu contraseña?</h3>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    
    <%= f.email_field :email, autofocus: true, :placeholder => "Correo",:class => "form-signin" %>
  </div>

  <div class="actions">
    <%= f.submit "Enviar ", :class => "btn btn-lg btn-primary cemex-red btn-entrada btn-block",:style => "max-width: 330px; "%>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>