
<div class="container techo ">
  
  <div class= "col-sm-offset-4 col-sm-4">
<%= image_tag "logo.png" , class: "centrado logo"%>
<center>
<h2 class="centrado">Cambiar contrase単a</h2>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
   
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres minimo)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" ,:placeholder => "Contrase単a",:class => "form-signin"  %>
  </div>

  <div class="field">
    
    <%= f.password_field :password_confirmation, autocomplete: "off",:placeholder => "Confirmar contrase単a",:class => "form-signin"  %>
  </div>

  <div class="actions">
    <%= f.submit "Cambiar Contrase単a", :class => "btn btn-lg btn-primary cemex-red btn-entrada btn-block" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>
</div>