<%= form_for(@phase) do |f| %>
  <% if @phase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phase.errors.count, "error") %> prohibited this phase from being saved:</h2>

      <ul>
      <% @phase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %><br>
    <%= f.text_field :name, :placeholder => "Nombre" %>
  </div>
  <div class="field">
    <%= f.label "Numero" %><br>
    <%= f.number_field :numphase, :placeholder => "123" %>
  </div>
  <div class="field">
    <%= f.label "Proyecto" %><br>
    <%= select("phase", "project_id", Project.all.collect {|p| [ p.name, p.id ] }) %>
  </div>
  <div class="actions">
    <%= f.submit "Actualizar Fase" %>
  </div>
<% end %>
