<p id="notice"><%= notice %></p>

<h1>Listado de Fases</h1>

<div class="table-responsive">
<table class="table" style="width: 100%;">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Numero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phases.each do |phase| %>
      <tr>
        <td><%= phase.name %></td>
        <td><%= phase.numphase %></td>
        <td><%= link_to 'Ver Info', phase, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block btn-xs" %></td>
        <td><%= link_to 'Editar', edit_phase_path(phase), :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block btn-xs" %></td>
        <td><%= link_to 'Eliminar', phase, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Nueva Fase', new_phase_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>

<%= link_to 'Regresar', admin_root_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>
