<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phase.name %>
</p>

<p>
  <strong>Numphase:</strong>
  <%= @phase.numphase %>
</p>

<%= link_to 'Edit', edit_phase_path(@phase), class: 'btn btn-primary btn-xs' %> |
<%= link_to 'Back', phases_path, class: 'btn btn-primary btn-xs' %>
