<!DOCTYPE html>
<html>
<head>
  <title>Construyendo Contigo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body>
  <% if current_user.nil? and current_admin.nil? %>
  
<% else %>
  <% if current_admin.nil? %>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="width: 45px !important">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if current_user.step != nil then %>
            <a class="navbar-brand" href="/home">Yo Construyo</a>
          <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <% if current_user.step != nil then %>
            <ul class="nav navbar-nav">
              <li><%= link_to 'Mi proyecto', user_root_path%></li>
              <li><%= link_to 'Mi perfil', user_form_path%></li>
              <li><%= link_to "Cambiar contraseña", edit_user_registration_path %></li>
             
            </ul>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to('Salir', destroy_admin_session_path, :method => :delete) %>  </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<% else %>
 <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="width: 45px !important">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin/home">Yo Construyo</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Administrador', admin_root_path%></li>
          <li><%= link_to 'Programas', programs_path %></li>
          <li><%= link_to 'Proyectos', projects_path %>
</li>
          <li><%= link_to 'Fases', phases_path %>
</li>
          <li><%= link_to 'Pasos', steps_path%>
</li>
          <li><%= link_to 'Reportes', admin_report_path%></li>

          <li><%= link_to 'Avances', posts_report_path%></li>

          <li><%= link_to "Cambiar contraseña", edit_admin_registration_path %></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to('Salir', destroy_admin_session_path, :method => :delete) %>  </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<%end %>
<%end %>

<%= yield %>

</body>
</html>
