<div class="container techo ">
  <center>
  <h2>Cambiar Contrase単a</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      
      <%= f.password_field :current_password, autocomplete: "off",:placeholder => "Contrase単a actual",:class => "form-signin"  %>
    </div>

    <div class="field">
      
      <%= f.password_field :password, autocomplete: "off" ,:placeholder => "Nueva contrase単a",:class => "form-signin" %>
    </div>

    <div class="field">
     
      <%= f.password_field :password_confirmation, autocomplete: "off",:placeholder => "Confirmar contrase単a",:class => "form-signin"  %>
    </div>

    <div class="actions">
      <%= f.submit "Guardar", :class => "btn btn-lg btn-primary cemex-red btn-entrada btn-block"  %>
    </div>
  <% end %>

  <%= link_to "Regresar", :back,:class => "btn btn-lg btn-otros cemex-blue btn-entrada btn-block" %>
  </center>
</div>
